@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&display=swap');

html {
  max-width: 500px;
  margin: 0 auto;
}

body {
  background-color: #DEF0FF;
  background-image: url("../img/horn.JPG");
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100% auto;

}

h1.main {
  font-family: 'Train One', cursive;
  color: #ffffff;
  padding-top: 15vh;
  text-align: center;
  padding-bottom: 40vh;
}

h2.main {
  font-family: 'Fira Code', monospace;
  color: #160202;
  text-align: center;
  padding-bottom: 30vh;
}

h2.school {
  font-family: 'Fira Code', monospace;
  text-align: center;
  padding-bottom: 2vh;
}

ul {
  list-style: none;
  /* デフォルトのアイコンを消す */
  margin: 0;
  /* デフォルト指定上書き */
  padding: 0;
  /* デフォルト指定上書き */
  /* text-align: center; */
  padding-left: 20vw;
  padding-bottom: 20vh;
}


li.program1 {
  font-size: 1.5em;

}

.program1::before {
  content: '\1D11E';
  font-size: 1.5\2em;
  display: inline-block;
  padding-right: 0.5em;
}

li.program2 {
  font-size: 1.5em;


}

.program2::before {
  content: '\1D122';
  font-size: 1.2em;
  display: inline-block;
  padding-right: 0.5em;
}

li.program3 {
  font-size: 1.5em;

}

.program3::before {
  content: '\1D121';
  font-size: 1.2em;
  display: inline-block;
  padding-right: 0.5em;
}

ul.info {
  list-style: none;
  /* デフォルトのアイコンを消す */
  margin: 0;
  /* デフォルト指定上書き */
  padding: 0;
  /* デフォルト指定上書き */
  padding-bottom: 5vh;
  padding-top: 1vh;
}

li.composer {
  font-size: 1em;

}

.composer::before {
  content: '\266F';
  font-size: 1.2em;
  display: inline-block;
  padding-right: 0.5em;
}

/*　for PC　*/
/* @media screen and (min-width:1024px) {

  body {
    background-position: top;
    background-size: 50% auto;
  }

  h1.main {
    padding-bottom: 50vh;
  }
} */

.sticky_share_btn {
  position: fixed;
  left: 30px;
  bottom: 30px;
}

.share-toggle,
.fixed_share ul.listing>li {
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

ul.listing {
  list-style: none;
  display: none;
}

.fixed_share ul.listing>li {
  margin-bottom: 10px;
}

.fixed_share ul.listing>li>a {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

.share-toggle:hover,
.fixed_share ul.listing>li:hover {
  transform: scale(1.1) rotate(360deg);
}

.fixed_share .facebook,
.fixed_share .facebook>a {
  color: #4267B2;
}

.fixed_share .twitter,
.fixed_share .twitter>a {
  color: #00acee;
}

.fixed_share .pinterest,
.fixed_share .pinterest>a {
  color: #E60023;
}

.fixed_share .linkedin,
.fixed_share .linkedin>a {
  color: #0e76a8;
}

.fixed_share .whatsapp,
.fixed_share .whatsapp>a {
  color: #25D366;
}

.card {
  margin-bottom: 10vh;
}

.card-title{
  font-family: 'Kaisei Tokumin', serif;
}