@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html {
  max-width: 500px;
  margin: 0 auto;
}

body {
  background-color: #DEF0FF;
  background-image: url("../img/clarinet.JPG");
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100% auto;

}

h1.main {
  font-family: 'Train One', cursive;
  color: #ffffff;
  padding-top: 15vh;
  text-align: center;
  padding-bottom: 40vh;
}

h2.main {
  font-family: 'Fira Code', monospace;
  color: #160202;
  text-align: center;
  padding-bottom: 30vh;
}

/* https://bennettfeely.com/gradients/ */
h2.school {
  margin-left: 5vw;
  padding-left: 5vw;
  background:
	repeating-linear-gradient(
		45deg,
		transparent,
		transparent 1em,
		moccasin 0,
		moccasin 2em,
		transparent 0,
		transparent 3em,
		powderblue 0,
		powderblue 4em,
		transparent 0,
		transparent 5em,
		lavender 0,
		lavender 6em,
		transparent 0,
		transparent 7em,
		beige 0,
		beige 8em
	),
	repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 1em,
		khaki 0,
		khaki 2em,
		transparent 0,
		transparent 3em,
		beige 0,
		beige 4em,
		transparent 0,
		transparent 5em,
		peachpuff 0,
		peachpuff 6em
	), whitesmoke;

background-blend-mode: multiply;
}

ul {
  list-style: none;
  /* デフォルトのアイコンを消す */
  margin: 0;
  /* デフォルト指定上書き */
  padding: 0;
  /* デフォルト指定上書き */
  /* text-align: center; */
  padding-left: 20vw;
  padding-bottom: 20vh;
}


li.program1 {
  font-size: 1.5em;

}

.program1::before {
  content: '\1D11E';
  font-size: 1.5\2em;
  display: inline-block;
  padding-right: 0.5em;
}

li.program2 {
  font-size: 1.5em;


}

.program2::before {
  content: '\1D122';
  font-size: 1.2em;
  display: inline-block;
  padding-right: 0.5em;
}

li.program3 {
  font-size: 1.5em;

}

.program3::before {
  content: '\1D121';
  font-size: 1.2em;
  display: inline-block;
  padding-right: 0.5em;
}

ul.info {
  list-style: none;
  /* デフォルトのアイコンを消す */
  margin: 0;
  /* デフォルト指定上書き */
  padding: 0;
  /* デフォルト指定上書き */
  padding-bottom: 5vh;
  padding-top: 1vh;
}

li.composer {
  font-size: 1em;

}

.composer::before {
  content: '\266F';
  font-size: 1.2em;
  display: inline-block;
  padding-right: 0.5em;
}

/*　for PC　*/
/* @media screen and (min-width:1024px) {

  body {
    background-position: top;
    background-size: 50% auto;
  }

  h1.main {
    padding-bottom: 50vh;
  }
} */